HELP.md
PLMS/.gradle
PLMS/build/
!PLMS/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/PLMS/nbproject/private/
/PLMS/nbbuild/
/PLMS/dist/
/PLMS/nbdist/
/PLMS/.nb-gradle/

### VS Code ###
.vscode/

### application.properties is local (password is different for each) ###
application.properties
